In [1]:
    %reload_ext literacy.template
    from pandas import *

In [1]:
about.md

# Callist☾ M☾rn One

## _on_ Saturday November 11, 2017 _@_ the Georgia Tech Research Institute

__Callisto Morn__ is a satellite conference orbitting the Project Jupyter.  At each __Callisto Morn__, Jupyter beginners and veterans will join to share the gravity of their work.  These events will organize designers, developers, and scientists across the southeast region.

## [Submit a Talk](https://docs.google.com/forms/d/e/1FAIpQLSfY1c4y2vLE-q3VMBjOpvTi4pK5D6Q9KudNk25AsxQUjsT3eA/viewform)


## [Github](https://github.com/callisto-morns/one)


## [Questions?](https://github.com/callisto-morns/one/issues)

[![Gitter chat](https://badges.gitter.im/callisto-one/Lobby.png)](https://gitter.im/callisto-one/Lobby)

---

## Announcements

{% for post in site.posts %}

### [{{ post.title }}](one/{{ post.url }}) <small>{{post.date}}</small>

> {{post.description}}

{% endfor %}

# Coming Soon

## ~~[Very Afforable Tickets on October 27, 2017]()~~

In [1]:
talks.md

# Case Studies

* __9:45-10:15__

* __10:15-10:45__

* __10:45-11:15__

# [Powers of_ten_ and the relative size of things in science](# "Nick and Tony")

#### [Nick Bollweg](https://github.com/bollwyvl) and [Tony Fast](https://github.com/tonyfast)
Science, and its application to engineering, policy, and business, ultimately affects people and communities. In solving new problems, while we may make use of ever more data and computers, we must also have greater impact and reach for people.  Open science, along with open source software and open data, continues to expand the frontiers of innovation.

Join Nick and Tony in traversing the powers of ten with data-driven stories.  Experts in visual problem solving with Jupyter, Nick and Tony have explored problems across technology silos, length scales, and disciplines.  Together, we hope to provide a rough map of what might be on open science’s frontier of reusable, computable information, or, failing that, a style guide for any citizen scientist looking to access new powers often from the cutting edges of open science and software.

<iframe width="640" height="360" src="https://www.youtube.com/embed/0fKBhvDjuy0" frameborder="0" allowfullscreen></iframe>

# Short Talks

* __11:30-11:40__

* __11:40-11:50__

# [SQL with Jupyter Notebooks](# )

#### [Greg Werner](https://github.com/jgwerner)

Many data analysts love SQL for data analysis, for good reason. SQL is a powerful language and is used by countless data analysts and data scientists alike. As some of these personas transition from analysts to data scientists (where the world is indeed gray), having a SQL editor within Jupyter Notebooks becomes a powerful proposition. Learn how to add open source SQL editors as extensions to Jupyter Notebooks with this talk. Source code will be available for all attendees.

* __11:50-12:05__

* __12:05-12:20__

# [Dynamic Notebook Generation for Reports]()

#### [Casey Hartnett](https://github.com/caseyhartnett)

> Use a Jupyter notebook to generate another Jupyter notebook.

In particular, we dynamically generate a report based on inputs. Our example, will be an alert detection algorithm for several metrics at a hotel, and the report can be generated for one hotel, many hotels or all hotels in the system. Having this ability forgoes the need to rewrite repetitive cells of code and instead use loops to perform the work.

* __12:20-12:30__

Collective questions from the previous talks.

* __12:30-12:45__

Quick oral talks from the attendees about the day.

* __12:45-1:00__

![](https://m.popkey.co/6e943e/r6RQM_f-thumbnail-100-0_s-600x0.jpg)

In [2]:
# [Full Schedule](https://docs.google.com/spreadsheets/d/1progwXRpRXaRc31xXmxviSD1YcysxT-U2fRdk99hzgA/edit#gid=0)

    read_csv('schedule.csv')

# [Full Schedule](https://docs.google.com/spreadsheets/d/1progwXRpRXaRc31xXmxviSD1YcysxT-U2fRdk99hzgA/edit#gid=0)

    read_csv('schedule.csv')

,start,end,section,description
0,8:30,9:00,Registration,Code of Conduct
1,9:00,9:10,Open remarks,NaN
2,9:10,9:45,Panel Discussion,4 people
3,9:45,10:15,30 Min Case Study,NaN
4,10:15,10:45,30 Min Case Study,NaN
5,10:45,11:15,Powers Often,Nick and Tony
6,11:15,11:30,Break,Left over coffee
7,11:30,11:40,10 min talk,NaN
8,11:40,11:50,10 min talk,Greg Werner
9,11:50,12:05,15 min talk,NaN
10,12:05,12:20,15 min talk,Casey Hartnett
11,12:20,12:30,Question from previous talks,NaN
12,12:30,12:45,Tiny Talks,Shorts 2 min talks about the day
13,12:45,1:00,Business Business Business,Announcements

In [2]:
contributing.md

# [contributing](contributing.ipynb)

[![Build Status](https://travis-ci.org/tonyfast/callistory.svg?branch=master)](https://travis-ci.org/tonyfast/callistory)

## [Submit questions and suggestions through the github issues](https://github.com/tonyfast/callistory/issues)

We hope that community participation can assist future organizers in producing diy technology events.

## Development

* __[readme.ipynb](readme.ipynb)__ provides instruction for external services.
* __[about.ipynb](about.ipynb)__ provides information about the event.  Who what where when how why.
* __[long.ipynb](long.ipynb)__ provides provides long format presentations information.
* __[short.ipynb](short.ipynb)__ provides provides short format presentations information.
* __[participants.ipynb](participants.ipynb)__ provides extra information about the conference participants.

# [Code of Conduct](code_of_conduct.md)